:root { 
--branco-principal: #FFFFFF;
--cinza-secundario:  #C0C0C0;
--botao-azul:  #167BF7;
--cor-de-fundo: #989ca7;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
 }

 *{ 
    margin: 0;
    padding: 0;
 }

.principal {
    background-image: url("img/main-banner01.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.contairner {
  height: 100vh;
  display: grid;
  grid-template-columns: 33% 33%;
}



.contairner_botao {
   background-color: var(--branco-principal) 
   diplay: block;
   border-radius: 5px;
   padding: 1em;
}